<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if flash[:error] %>
  <ul class="error">
    <% flash[:error].each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>
