<div class="notification">
  <%= link_to pharmacist_profile_path(pharmacist) do %>
    <%= render "shared/profile_image", profile: pharmacist.pharmacist_profile %>
  <% end %>
  <p><%= pharmacist.pharmacist_profile.name %>さんにトーク申請中です。</p>
</div>
