<div class="home_header">
  <div class="home_header_content">
    <p>先輩の声を聞いて</p>
    <p>職場の雰囲気をつかもう</p>
    <%= image_tag 'Chat.png', class: 'top_image' %>
    <div class="btn sign_up js-sign_up">新規登録</div>
  </div>
</div>
<main>
  <h2>先輩を探す</h2>
  <div>
    <p><i class="fas fa-pencil-alt" aria-hidden="true"></i>フリーワード</p>
  </div>
  <div>
    <p><i class="fas fa-clinic-medical" aria-hidden="true"></i>勤務先タイプ</p>
    <ul>
      <li>調剤薬局</li>
      <li>ドラッグストア</li>
      <li>病院</li>
    </ul>
  </div>
  <div>
    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>エリア</p>
  </div>
  <div class="btn search_btn">検索</div>
</main>

<div id="popup" class="popup">
  <div class="popup_inner">
    <div id="close_btn" class="close_btn"><i class="fas fa-times" aria-hidden="true"></i></div>
    <h2 class="title_border">新規会員登録</h2>
    <p>あなたは薬剤師ですか？</p>
    <p>学生ですか？</p>
    <div class="btn user_type_btn">薬剤師</div>
    <div class="btn user_type_btn">学生</div>
  </div>
  <div id="bg_black" class="bg_black"></div>
</div>
