<div class="home_header">
  <div class="home_header_content">
    <p>先輩の声を聞いて</p>
    <p>薬局の雰囲気をつかもう</p>
    <%= image_tag 'Chat.png', class: 'top_image' %>
    <div class="btn js_sign_up">新規登録</div>
  </div>
</div>
<main>
  <h2>先輩を探す</h2>
  <div>
    <p><i class="fas fa-pencil-alt" aria-hidden="true"></i>フリーワード</p>
  </div>
  <div>
    <p><i class="fas fa-clinic-medical" aria-hidden="true"></i>勤務先タイプ</p>
    <ul>
      <li>調剤薬局</li>
      <li>ドラッグストア</li>
      <li>病院</li>
    </ul>
  </div>
  <div>
    <p><i class="fas fa-map-marker-alt" aria-hidden="true"></i>エリア</p>
  </div>
  <div class="btn">検索</div>
</main>
<%= render "shared/sign_up_modal" %>
<%= render "shared/log_in_modal" %>
