<div class="waiting">
  <%= link_to student_profile_path(student.student_profile) do %>
    <%= render "shared/profile_image", profile: student.student_profile %>
  <% end %>
  <p><%= student.student_profile.name %>さんからトーク申請がきています。</p>
  <%= render "pharmacists/talk_permission", student: student %>
</div>
