<h1>Pharma Talk</h1>
<h2>Pharma Talkとは</h2>
<p>薬学生は、内定をもらっても国家試験に受からないと薬剤師として働くことができません。
それは薬学生にとっても、内定を出した企業にとっても望ましくないことです。</p>
<p>早く試験勉強に専念したいけど、就活も手を抜きたくない、、、</p>
<p>そんな薬学生の悩みを少し解消出来ればという思いで、Phrma Talkを作りました。</p>
<p>Pharma Talkでは、薬剤師として働く先輩から勤務先の職場について気軽に話を聞くことが出来ます。</p>
<p>それぞれの企業にOB・OG訪問に行く必要がなく、このアプリ上で話せます。</p>
<p>企業説明会では聞けない深い話が聞けるかもしれません。</p>
<p>自分に合った薬局を効率よく探し、試験勉強の時間を確保しましょう。</p>
