$main_color: #D7EBBA;

@mixin btn {
  background-color: #63BED2;
  border-radius: 4.0rem;
  cursor: pointer;
  display: inline-block;
  &:hover {
    background-color: #6bd1e7;
  }
}


@mixin title_border($color: #000) {
  .title_border {
    display: flex;
    align-items: center;
  }
  .title_border:before,
  .title_border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: $color;
  }
  .title_border:before {
    margin-right: 1.5rem;
  }
  .title_border:after {
    margin-left: 1.5rem;
  }
}

@mixin page_title {
  color:rgb(44, 44, 44);
  font-size: 5rem;
  text-align: center;
}
