$main_color: #D7EBBA;

@mixin btn {
  background-color: #63BED2;
  border-radius: 4.0rem;
  cursor: pointer;
  display: inline-block;
  &:hover {
    background-color: #6bd1e7;
  }
}

@mixin title_border($color: #000) {
  .title_border {
    align-items: center;
    display: flex;
  }
  .title_border:before,
  .title_border:after {
    background-color: $color;
    content: "";
    flex-grow: 1;
    height: 1px;
  }
  .title_border:before {
    margin-right: 1.5rem;
  }
  .title_border:after {
    margin-left: 1.5rem;
  }
}

@mixin page_title {
  color:rgb(44, 44, 44);
  font-size: 4rem;
  text-align: center;
}

@mixin form_input {
  border-radius: 4.0rem;
  font-size: 1.5rem;
  height: 3rem;
  letter-spacing: 2px;
  padding-left: 1rem;
  width: 50rem;
  &:focus {
    border: 2px solid #7161EF;
    border-radius: 4.0rem;
    outline: 0;
  }
}
