/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

* {
  font-family: 'Roboto', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
  margin: 0;
}

.header {
  background-color: #D7EBBA;
  .header_content {
    width: 80%;
    margin: 0 auto;
    min-width: 96rem;
    position: relative;
    a{
      text-decoration: none;
      color: black;
    }
    h1{
      margin: 0;
      padding: 2.0rem;
    }
    ul {
      display: flex;
      list-style: none;
      padding-left: 0;
      position: absolute;
      top: 0;
      right: 0;
      li {
        cursor: pointer;
        margin: 1.0rem;
      }
    }
  }
}

.btn {
  background-color: #63BED2;
  border-radius: 4.0rem;
  cursor: pointer;
  display: inline-block;
}
