/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  font-family: 'Roboto', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: $main_color;
  .header_content {
    width: 80%;
    margin: 0 auto;
    min-width: 96rem;
    position: relative;
    a{
      text-decoration: none;
      color: #000;
    }
    h1{
      margin: 0;
      padding: 2.0rem;
    }
    ul {
      display: flex;
      list-style: none;
      padding-left: 0;
      position: absolute;
      top: 0;
      right: 0;
      li {
        cursor: pointer;
        margin: 1.0rem;
      }
    }
  }
}

.btn {
  background-color: #63BED2;
  border-radius: 4.0rem;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background-color: #6bd1e7;
}

// login modal
.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
  p {
    font-size: 2.0rem;
  }
}
.popup.is_show {
  opacity: 1;
  visibility: visible;
}
.popup_inner {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  width: 60%;
  max-width: 40rem;
  padding: 5.0rem;
  background-color: #fff;
  z-index: 2;
  @include title_border;
  a {
    color: #000;
    text-decoration: none;
  }
  .user_type_btn {
    width: 80%;
    padding: 1.0rem 0;
    margin: 1.0rem 0;
  }
}
.close_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 5.0rem;
  height: 5.0rem;
  line-height: 5.0rem;
  font-size: 2.0rem;
  cursor: pointer;
}
.bg_black {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

footer {
  background-color: $main_color;
  text-align: center;
  margin-top: auto;
}
