// Place all the styles related to the concepts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";

.concept {
  padding-top: 5rem;
  h2 {
    @include page_title;
  }
  .concept_contents {
    color: #707274;
    font-size: 2rem;
    max-width: 92rem;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
    h2 {
      font-size: 3rem;
      margin-bottom: 10rem;
    }
    p {
      margin-bottom: 3rem;
    }
    @include title_border(rgb(44, 44, 44));
  }
}
