@import "variables";

.form {
  h2 {
    @include page_title;
  }
  .form_contents {
    margin: 5.0rem auto;
    max-width: 72rem;
    text-align: center;
    width: 80%;
    .field {
      margin-bottom: 5.0rem;
      label {
      display: inline-block;
      font-size: 2.0rem;
      margin-bottom: 1.5rem;
      }
      input {
        @include form_input;
      }
    }
    .check_box {
      margin: 2.0rem 0;
    }
    a {
      color: #396e7a;
      display: inline-block;
      margin-bottom: 2.0rem;
      text-decoration: none;
    }
    .btn, .cancel_btn, .back_btn {
      border-color: transparent;
      color: #000;
      font-size: 2.0rem;
    }
    .btn {
      @include btn;
      height: 4.0rem;
      margin-bottom: 2.0rem;
      width: 100%;
    }
    .cancel_btn {
      @include btn($btn_sub_color, $btn_hover_sub_color);
      margin-top: 0;
      padding: 1.0rem 0;
      width: 20rem;
    }
    .popup {
      .cancel_btn {
        margin: 1.0rem 0;
        width: 80%;
        @include mobile {
          width: 100%;
        }
      }
      .back_btn {
        @include btn;
        margin: 1.0rem 0;
        padding: 1.0rem 0;
        width: 80%;
        @include mobile {
          width: 100%;
        }
      }
    }
    .test_user {
      text-align: center;
      a {
        background-color: rgb(228, 120, 120);
        color: #000;
        margin: 0;
        padding: 1rem;
        &:hover {
          background-color: rgb(247, 131, 131);
        }
      }
    }
  }
}
