@import "variables";

.form {
  h2 {
    @include page_title;
  }
  .form_contents {
    margin: 5.0rem auto;
    max-width: 92rem;
    text-align: center;
    .field {
      margin-bottom: 5.0rem;
      label {
      display: inline-block;
      font-size: 2.0rem;
      margin-bottom: 1.5rem;
      }
      input {
        @include form_input;
      }
    }
    .check_box {
      margin: 2.0rem 0;
    }
    .btn {
      @include btn;
      border-color: transparent;
      font-size: 2.0rem;
      height: 4.0rem;
      margin-bottom: 2.0rem;
      width: 50rem;
    }
    a {
      color: #396e7a;
      display: inline-block;
      margin-bottom: 2.0rem;
      text-decoration: none;
    }
    .cancel_btn {
      background-color: #f18a29;
      border-color: transparent;
      border-radius: 3.0rem;
      cursor: pointer;
      display: inline-block;
      font-size: 2.0rem;
      width: 20rem;
      &:hover {
        background-color: #dd7e25;
      }
    }
  }
}
