@import "variables";

.home_header {
  background-color: $main_color;
  .home_header_content {
    margin: 0 auto;
    min-width: 96rem;
    padding-top: 7rem;
    position: relative;
    width: 80%;
  }
  p:first-child {
    margin-top: 0;
  }
  p {
    font-size: 4.0rem;
    margin-bottom: 4.0rem;
  }
  .top_image {
    position: absolute;
    right: 10rem;
    top: 3rem;
    width: 20em;
  }
  .btn {
    @include btn;
    font-size: 3.0rem;
    margin: 7.0rem;
    padding: 1.0rem 6.0rem;
  }
}

main {
  margin: 0 auto;
  max-width: 70rem;
  h2 {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
  }
  i {
    margin-right: 1rem;
  }
  .btn {
    @include btn;
    display: block;
    margin: 5rem auto;
    padding: 1rem 0;
    text-align: center;
    width: 20rem;
  }
}
