@import "variables";

.mypage {
  h2 {
    @include page_title;
  }
  .user_icon {
    @include icon(8rem);
  }
  .pharmacist_profile {
    i {
      margin-right: 0.5rem;
    }
    .top_information {
      p {
        margin: 0.5rem;
        text-align: center;
      }
    }
    .information {
      p:first-child {
        margin-top: 0;
      }
      .blue_marker {
        background:linear-gradient(transparent 60%, #79cef8 60%);
      }
    }
  }
  .pharmacist_profile, .student_profile {
    align-items: center;
    border: 1px solid #dcdcdd;
    color: #000;
    display: flex;
    justify-content: space-between;
    height: 8rem;
    margin: 3.0rem auto;
    padding: 2.0rem;
    width: 45rem;
    .top_information {
      align-items: center;
      display: flex;
      margin-right: 2.0rem;
      img {
        margin-right: 2.0rem;
      }
      div {
        text-align: center;
      }
    }
    .information {
      height: 90%;
      margin-right: 3.0rem;
      width: 40%;
      p {
        overflow: hidden;
        text-align: left;
      }
      .orange_marker {
        background:linear-gradient(transparent 60%, #EF946C 60%);
      }
    }
  }
  h3 {
    margin: 5.0rem auto 0 auto;
    width: 50rem;
  }
  .notification, .talking {
    align-items: center;
    border: 1px solid #dcdcdd;
    display: flex;
    justify-content: space-between;
    height: 8rem;
    margin: 1.0rem auto;
    padding: 1.0rem;
    width: 50rem;
    p {
      width: 50%;
    }
    .btn_list {
      text-align: center;
      width: 40%;
    }
    .btn, .cancel_btn {
      border-color: transparent;
      color: #000;
      text-decoration: none;
      padding: 0.5rem 3.0rem;
    }
    .btn {
      @include btn;
      margin-bottom: 1.0rem;
    }
    .cancel_btn {
      @include btn($btn_sub_color, $btn_hover_sub_color);
    }
  }
}
