@import "variables";

.profile_show {
  margin: 4.0rem auto;
  max-width: 70rem;
  width: 80%;
  .profile_show_content {
    border: 1px solid rgba(220, 220, 221, 0.5);
    min-height: 80vh;
    h2 {
      background-color: rgba(220, 220, 221, 0.5);
      font-size: 1.6rem;
      padding: 1.5rem;
    }
    h2:first-child {
      margin-top: 0;
    }
    .information {
      display: flex;
      margin: 4.0rem;
      @include mobile {
        display: block;
        text-align: center;
      }
      img {
        margin-right: 4.0rem;
      }
      div {
        margin-right: 6.0rem;
      }
      i {
        margin-right: 0.5rem;
      }
      p {
        margin: 0.5rem;
      }
      span {
        margin-right: 5.0rem;
        @include mobile {
          display: block;
        }
      }
    }
    .profile {
      line-height: 1.2rem;
      margin: 2.0rem 4.0rem;
    }
    .user_icon {
      @include icon(10rem)
    }
  }
  .btn, .unfollow, .gray_color {
    padding: 1.0rem 0;
    text-align: center;
    margin-top: 2.0rem;
    width: 100%;
  }
  .btn, .unfollow {
    border-color: transparent;
    color: #000;
    text-decoration: none;
  }
  .btn {
    @include btn;
  }
  .gray_color {
    background-color: rgb(212, 211, 211);
    border-radius: 4.0rem;
    display: inline-block;
  }
  .unfollow {
    @include btn($btn_sub_color, $btn_hover_sub_color)
  }
}
