@import "variables";

.form_profile {
  h2 {
    @include page_title;
  }
  .test_profile {
    background-color: rgb(228, 120, 120);
    border-color: transparent;
    cursor: pointer;
    display: block;
    margin: 5.0rem auto;
    padding: 1rem;
    &:hover {
    background-color: rgb(247, 131, 131);
    }
  }
  .form_contents {
    margin: 0 auto;
    max-width: 80rem;
    width: 80%;
    @include mobile {
      max-width: 50rem;
    }
    form {
      display: grid;
      grid-template-columns: 20rem 1fr;
      row-gap: 5rem;
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
    label {
      grid-column: 1 / 2;
      @include mobile {
        grid-column: auto;
      }
    }
    input[type="text"], select {
      border: 1px solid #000;
      @include form_input;
    }
    textarea {
      font-size: 1.5rem;
      height: 30rem;
      letter-spacing: 2px;
      line-height: 1.8;
    }
    .work_place_type, .year {
      align-items: center;
      display: flex;
      label {
        margin: 0 5rem 0 0.5rem;
      }
    }
    input, textarea, .edit_image, .work_place_type {
      grid-column: 2 / 3;
      @include mobile {
        grid-column: auto;
      }
    }
    .edit_image {
      align-items: center;
      display: flex;
    }
    p {
      margin-left: 5.0rem;
    }
    .btn {
      @include btn;
      border-color: transparent;
      height: 4rem;
      margin-bottom: 5rem;
    }
    .user_icon {
      @include icon(5.0rem);
    }
  }
}
