<% if !current_pharmacist.pharmacist_profile || !current_pharmacist.pharmacist_profile.id %>
  <li><%= link_to "プロフィールを登録", new_pharmacist_profile_path %></li>
<% else %>
  <div class="hamburger_menu">
    <input type="checkbox" id="menu_btn_check">
    <label for="menu_btn_check" class="menu_btn"><span></span></label>
    <li class="drop_down">
      <% if current_pharmacist.pharmacist_profile.image? %>
        <%= image_tag current_pharmacist.pharmacist_profile.image.url, class: "user_icon" %>
      <% else %>
        <%= image_tag "/assets/default.png", class: "user_icon default" %>
      <% end %>
        <%= render "layouts/pharmacist_drop_down"%>
    </li>
  </div>
<% end %>
