<ul>
  <li><%= link_to "マイページ", student_path(current_student) %></li>
  <li><%= link_to "プロフィール", student_profile_path(current_student.student_profile.id) %></li>
  <li><%= link_to "アカウント編集", edit_student_registration_path %></li>
  <li><%= link_to "ログアウト", destroy_student_session_path, method: :delete %></li>
</ul>
